*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:sans-serif;
    background:#f4f4f4;
}

.container{
    display:flex;
    height:100vh;
}

.left-panel{
    width:35%;
    background:#013A63;
    color:white;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    padding:40px;
    text-align:center;
}
.left-panel h1{
  margin-bottom: 20px; 
  margin-top: 10px;

}
.left-panel h3{
  margin-bottom: 15px; 
  color:#E6F5FD;
}
.left-panel p{
    max-width: 500px;
  margin: 0 auto; 
  line-height: 1.6; 
}



.right-panel{
    width:65%;

    display:flex;

    justify-content:center;
    align-items:center;
}

.form-container{
    background:#dcecf8;

    width:400px;

    padding:20px;

    border-radius:15px;
    border:solid 1px #013A63;

    display:flex;
    flex-direction:column;
    gap:20px;
    align-items: center;
}
.form-container h1{
  color: #013A63;
}

.input-field{
    padding:12px;

    border:solid 1px #013A63;

    border-radius:8px;

    background:#cdd8e3;
}

.btn{
    background:#013A63;
    color:white;
    width: 100px;

    padding: 8px;

    border-radius:8px;

    cursor:pointer;
}
.btn:hover{
  background-color: #09304e;

}
.error{
    color: #e63946;
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
}