.sidebar{
    width:120px;
    height:100vh;
    position: sticky;
    top: 0;
    background:#003B6F;
    border-top-right-radius:30px; 
    border-bottom-right-radius:30px; 

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;

    padding:35px 0;
    
   
    
}
.logo h4{
    
    color: white;
    font-size: 1rem;   /* smaller text */
    font-weight: 600;
}

.sidebar-icons{
    
    display: flex;
    flex-direction: column;
    align-items: center;  /* horizontal centering */
    justify-content: center;
    gap: 35px;
    flex: 1;
}

.icon-container{
    
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-decoration: none;
    border-radius: 12px;
}

.tooltip{

    position:absolute;

    left:80px;

    background:white;

    color:black;

    padding:8px 14px;

    border-radius:8px;

    opacity:0;

    transition:0.3s;

    pointer-events:none;

    white-space:nowrap;

    box-shadow:0px 4px 4px rgba(0,0,0,0.25);

}
.icon-container:hover .tooltip{
    opacity:1;
}
.back-icon{
    
    color: white;
    text-decoration: none;
}
.back-icon .tooltip{
    position: absolute;
    left: 80px;   
   
    opacity: 0;
    transition: 0.2s;
    white-space: nowrap;
}
.back-icon:hover .tooltip{
    opacity: 1;
    
    left: 80px;
    
}
